<section class="container px-8 md:px-0 mx-auto py-24">
    <h2 class="text-2xl text-blue-duck uppercase text-center">- {{'LOCATION.TITLE1' | translate}} -</h2>
    <p class="my-20 text-lg text-center">{{'LOCATION.TEXT1' | translate}}</p>
    <div class="text-center">
        <a routerLink="/cartes"
            class="bg-white border-2 border-camel font-thin rounded-lg font-bold text-camel text-center uppercase px-5 py-4 transition duration-300 ease-in-out">{{'LOCATION.DISCOVER_MENU' | translate}}</a>
    </div>
</section>
<section class="flex flex-wrap overflow-hidden md:h-screen">

    <a class="bg-cover h-screen md:h-auto w-full overflow-hidden md:w-1/2 lg:w-1/2 xl:w-1/2"
        style="background-image: url('../../../assets/img/_III9709.jpg');">
        <!-- Column Content -->
    </a>

    <a class="bg-cover	h-screen md:h-auto w-full overflow-hidden md:w-1/2 lg:w-1/2 xl:w-1/2"
        style="background-image: url('../../../assets/img/_III9344.jpg');">
        <!-- Column Content -->
    </a>

</section>
<section class="flex flex-wrap overflow-hidden md:h-screen">

    <a class="bg-cover h-screen md:h-auto w-full overflow-hidden md:w-1/2 lg:w-1/2 xl:w-1/2"
        style="background-image: url('../../../assets/img/_III0127.jpg');">
        <!-- Column Content -->
    </a>

    <a class="bg-cover	h-screen md:h-auto w-full overflow-hidden md:w-1/2 lg:w-1/2 xl:w-1/2"
        style="background-image: url('../../../assets/img/_III9297.jpg');">
        <!-- Column Content -->
    </a>

</section>
<section class="container px-8 md:px-0 mx-auto py-24">
    <h2 class="text-2xl text-blue-duck uppercase text-center">- {{'LOCATION.TITLE2' | translate}} -</h2>
    <p class="my-20 text-lg text-center">{{'LOCATION.TEXT2' | translate}}</p>
    <div class="text-center">
        <a routerLink="/la-balade"
            class="bg-white border-2 border-camel font-thin rounded-lg font-bold text-camel text-center uppercase px-5 py-4 transition duration-300 ease-in-out">{{'APP.BUTTON.BOOK' | translate}}</a>
    </div>
</section>