<section class="flex flex-wrap overflow-hidden py-24">

    <div class="w-full overflow-hidden md:w-full lg:w-1/3 xl:w-1/3">
        <h2 class="text-2xl text-blue-duck uppercase text-center">- {{'CONTACT.CALL_US' | translate}} -</h2>
        <p class="my-20 text-lg text-center">+ 33 6 65 24 30 27</p>
    </div>

    <div class="w-full overflow-hidden md:w-full lg:w-1/3 xl:w-1/3">
        <h2 class="text-2xl text-blue-duck uppercase text-center">- {{'CONTACT.MEET_US' | translate}} -</h2>
        <p class="my-20 text-lg text-center">5 rue du Palais de l’Ombrière<br>
            33000 Bordeaux</p>
    </div>

    <div class="w-full overflow-hidden md:w-full lg:w-1/3 xl:w-1/3">
        <h2 class="text-2xl text-blue-duck uppercase text-center">- {{'CONTACT.WRITE_US' | translate}} -</h2>
        <p class="my-20 text-lg text-center">contact@brutus-restaurant.fr</p>
    </div>

</section>
<section class="flex flex-wrap overflow-hidden md:h-screen">
    <div class="bg-cover  h-screen md:h-auto w-full overflow-hidden">
        <div class="elfsight-app-4468e01e-c2b2-4776-8750-eba9ca3e032b"></div>
    </div>
</section>