<section class="container px-8 md:px-0 mx-auto py-24">
    <h2 class="text-2xl text-blue-duck uppercase text-center">- MENU -</h2>
    <h3 class="my-8 font-semibold text-camel text-lg text-center">Notre sélection de jambons (100g)</h3>
    <div class="flex flex-col items-center justify-center">
        <div class="my-2">Cecina de vache maturée 24 mois, origine espagnole</div>
        <div class="my-2">Serrano affiné 24 mois</div>
        <div class="my-2">Prosciutto à la truffe</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Entrées</h3>
    <div class="flex flex-col items-center justify-center">
        <div class="my-2">Burrata, tomate et basilic</div>
        <div class="my-2">Carpaccio de bœuf maturé, parmesan et filet d’huile d’olive Alexis Muñoz</div>
        <div class="my-2">Foie gras et chutney à l’échalote</div>
        <div class="my-2">Caviar d’Aquitaine de la Maison Sturia, Oscietra (30g)</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Présentée en salle sur ardoise, notre sélection de pièces de bœuf affinées
    </h3>
    <div class="flex flex-col items-center justify-center">
        <div class="italic">Selon la saison</div>
        <div class="my-2">Wagyu</div>
        <div class="my-2">Galice</div>
        <div class="my-2">Normande</div>
        <div class="my-2">Noir de Baltique</div>
        <div class="my-2">(Prix au kg et à la coupe)</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Plats</h3>
    <div class="flex flex-col items-center justify-center">
        <div class="my-2">Filet de bœuf Rossini, sauce Brutus</div>
        <div class="my-2">Pluma ibérique fraîche, sauce barbecue maison</div>
        <div class="my-2">Steak de thon rouge, sauce soja</div>
        <div class="my-2">Ravioles à la truffe, sauce vierge</div>
        <div class="italic">Tous nos plats sont accompagnés de frites maison et d’une salade.</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Suppléments</h3>
    <div class="flex flex-col items-center justify-center">
        <div class="my-2">Purée maison</div>
        <div class="my-2">Purée maison à la truffe</div>
        <div class="my-2">Poêlée de légumes saisonniers</div>
        <div class="mt-4">Menu enfant comprenant filet de bœuf, frites maison et sorbet ou glace au choix</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Desserts</h3>
    <div class="flex flex-col items-center justify-center">
        <div class="my-2">Assortiment de fromages sélectionnés par la Fromagerie Deruelle</div>
        <div class="my-2">Crème brûlée</div>
        <div class="my-2">Cannelé par Cassonade, revisité façon Brutus</div>
        <div class="my-2">L’authentique mousse au chocolat</div>
        <div class="my-2">Déclinaison de sorbets et de glaces, la boule au choix</div>
    </div>

    <h2 class="mt-8 mb-4 text-2xl text-blue-duck uppercase text-center">- BOISSONS -</h2>
    <h3 class="mb-8 font-semibold text-camel text-lg text-center">Eaux</h3>
    <div class="flex flex-col items-center justify-center">
        <div class="my-2">Abatilles Bleue</div>
        <div class="my-2">Abatilles Rouge</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Softs</h3>
    <div class="flex flex-col items-center justify-center">
        <div class="my-2">Coca-Cola</div>
        <div class="my-2">Coca-Cola Zéro</div>
        <div class="my-2">FuzeTea Pêche</div>
        <div class="my-2">Jus de pomme Meneau</div>
        <div class="my-2">Jus d’orange Meneau</div>
        <div class="my-2">Jus de tomate Meneau</div>
        <div class="my-2">London Essence Tonic Water</div>
        <div class="my-2">Sirop (Citron, Grenadine, Menthe, Pêche)</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Bières</h3>
    <div class="flex flex-col items-center justify-center">
        <div class="my-2">Mira ambrée</div>
        <div class="my-2">Mira ambrée</div>
        <div class="my-2">Mira blonde</div>
        <div class="my-2">Mira brune</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Cocktails</h3>
    <div class="flex flex-col items-center justify-center">
        <div class="my-2">Gin Avem Hippolais</div>
        <div class="my-2">Gin Avem Corvus</div>
        <div class="my-2">Spritz Bordelais Folle Envie</div>
        <div class="my-2">Elixir n°1</div>
        <div class="my-2">Elixir n°2</div>
        <div class="my-2">Elixir n°3</div>
    </div>

    <h3 class="my-8 font-semibold text-blue-duck text-lg text-center">Spiritueux</h3>
    <div class="flex flex-col items-center justify-center">
        <h4 class="my-4 font-semibold text-camel text-md">Whisky</h4>
        <div class="my-2">Lehmann Origine</div>
        <div class="my-2">Whisky Assemblage N°1.01</div>
        <div class="my-2">Whisky Assemblage N°2</div>
        <h4 class="my-4 font-semibold text-camel text-md">Pastis</h4>
        <div class="my-2">Château des Creissands 2017</div>
        <h4 class="my-4 font-semibold text-camel text-md">Rhums arrangés</h4>
        <div class="my-2">Batofou</div>
        <div class="my-2">M. Kafévani</div>
        <h4 class="my-4 font-semibold text-camel text-md">Rhums</h4>
        <div class="my-2">Reimonenq</div>
        <div class="my-2">Famille Longteau Cuvée Harmonie Symphonie</div>
        <h4 class="my-4 font-semibold text-camel text-md">Cognacs</h4>
        <div class="my-2">Fine de Bordeaux Famille Bouhans</div>
        <div class="my-2">A. de Fussigny XO</div>
        <h4 class="my-4 font-semibold text-camel text-md">Calvados</h4>
        <div class="my-2">Calvados</div>
        <h4 class="my-4 font-semibold text-camel text-md">Vodka</h4>
        <div class="my-2">Vodka Nadé</div>
        <div class="my-2">Vodka Nadé Vieillie en fût de Fronsac</div>
        <h4 class="my-4 font-semibold text-camel text-md">Tequila</h4>
        <div class="my-2">Clase Azul Reposado</div>
        <h4 class="my-4 font-semibold text-camel text-md">Armagnacs du Domaine Saint-Aubin</h4>
        <div class="my-2">Blanche d’Armagnac</div>
        <div class="my-2">Âge 2</div>
        <div class="my-2">Âge 4</div>
        <div class="my-2">Âge 10</div>
        <div class="my-2">Âge 20</div>
        <h4 class="my-4 font-semibold text-camel text-lg">Armagnacs du Domaine Saint-Aubin</h4>
        <div class="my-2">Boissons chaudes</div>
        <div class="my-2">Café</div>
        <div class="my-2">Déca</div>
        <div class="my-2">Thé</div>
    </div>

    <hr class="mt-8">
</section>