<section class="container px-8 md:px-0 mx-auto py-24">
    <h2 class="text-2xl text-blue-duck uppercase text-center">- {{'WALK.TITLE1' | translate}} -</h2>
    <p class="my-20 text-lg text-center">{{'WALK.TEXT1' | translate}}</p>
    <div class="text-center">
        <a routerLink="/la-balade"
            class="bg-white border-2 border-camel font-thin rounded-lg font-bold text-camel text-center uppercase px-5 py-4 transition duration-300 ease-in-out">{{'WALK.DISCOVER_MENU' | translate}}</a>
    </div>
</section>
<!-- <section class="flex items-center justify-center">
    <img src="../../../assets/img/acb3413472f2f3c10060a34f33943f82.jpeg" class="object-cover"
        style="height: 1130px;width: 1130px;" alt="">
</section> -->
<section class="container px-8 md:px-0 mx-auto py-24">
    <h2 class="text-2xl text-blue-duck uppercase text-center">- {{'WALK.TITLE2' | translate}} -</h2>
    <p class="my-20 text-lg text-center">{{'WALK.TEXT2' | translate}}</p>
    <div class="text-center">
        <a routerLink="/la-balade"
            class="bg-white border-2 border-camel font-thin rounded-lg font-bold text-camel text-center uppercase px-5 py-4 transition duration-300 ease-in-out">{{'APP.BUTTON.BOOK' | translate}}</a>
    </div>
</section>