<div class="bg-black relative overflow-hidden h-screen">
  <img [attr.src]="heroImgUrl" class="absolute h-full w-full object-cover" />
  <div class="inset-0 bg-black opacity-50 absolute">
  </div>
  <header class="absolute top-0 left-0 right-0 z-20">
    <nav class="container mx-auto px-6 md:px-12 py-4">
      <div class="flex justify-between md:justify-center items-center">
        <div class="flex justify-between items-center">
          <div class="md:hidden">
            <button class="text-white focus:outline-none" (click)="mobileMenuToggle = true">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 fill-current text-beige" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
        </div>
        <!-- CENTER -->
        <div class="hidden md:flex items-center">
          <a class="block px-4 py-1 md:p-2 lg:px-4 text-beige" routerLink="/la-balade" title="Link">{{'NAV.WALK' |
            translate}}</a>
          <a class="block px-4 py-1 md:p-2 lg:px-4 text-beige" routerLink="/concept" title="Active Link">{{'NAV.CONCEPT'
            | translate}}</a>
          <a class="block px-4 py-1 md:p-2 lg:px-4 text-beige" routerLink="/lieu" title="Link">{{'NAV.LOCATION' |
            translate}}</a>
          <a routerLink="/" rel="home">
            <!-- <img class="w-auto h-16" src="../assets/img/logo_baseline_brutus_beige@2x.png" alt="Brutus" /> -->
            <svg class="w-auto h-8" id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 516.78 104.52">
              <defs>
                <style>
                  .cls-1 {
                    fill: #f3e5d4;
                  }
                </style>
              </defs>
              <path class="cls-1"
                d="M102.94,423.07a25.41,25.41,0,0,1,8,19.1,30.11,30.11,0,0,1-16.13,27,34.84,34.84,0,0,1-16.78,4.05q-5.46,0-11.91-.49c-1.55-.12-3.37-.22-5.46-.34s-4.41-.16-6.94-.16l-11.25.16a4.43,4.43,0,0,1-1.56-.12c-.26,0-1-.25-1-.91a1.31,1.31,0,0,1,.73-1.17c3.88-.8.37-.05,2.54-.52s2.09-2.47,2.86-4,2.43-5.64,2.43-8.95V382.63a24.62,24.62,0,0,0-.22-4.86c-.24-1.69-1.39-2.73-3.32-3.33s-2.23-2.62-5.18-3.12c-.33-.05-.47-.33-.5-1,0-.3.54-.46.87-.46l5-.27c4.63.23,5.8.13,8.67.13,2,0,3.82-.05,5.54-.16s3.16-.22,4.38-.33q5.11-.5,9.59-.5,13.89,0,20.84,6A19.91,19.91,0,0,1,101,390.57a21.61,21.61,0,0,1-5.12,14.14,33.59,33.59,0,0,1-14.06,9.68Q94.92,415.38,102.94,423.07ZM65.25,371.51c-6,.59-6.91,1.61-7.57,3.2s.41,4,.41,7.62l1,30.56a1.59,1.59,0,0,0,1.55,1.53l5.94.13c8.05,0,16.72-2.52,20.58-6.66s3.07-9.16,3.07-16q0-9.25-5-15c-3.36-3.81-4.2-5.42-11.14-5.42C71.23,371.51,66.76,371.36,65.25,371.51Zm28.26,93.82C97.42,461.2,105.16,453,104,445.39c-2-13.32-7.09-13-12-18.18s-11.66-7.82-20.26-7.93c-3.27-.11-8.87.81-11.65,4.1A7.58,7.58,0,0,0,58.69,426L56.25,457c0,2.87,3.36,8.58,4.18,10.12s2.15,1.86,4.52,2.57,5.48.52,10,.52C83,470.16,89.59,469.47,93.51,465.33Z"
                transform="translate(-39.22 -368.74)" />
              <path class="cls-1"
                d="M284.38,386.07c-.3-.09-.46-.28-.46-.84s.15-.84.46-.84l1.9.14q5.5.29,8.72.28a27.76,27.76,0,0,0,3.75-.09l2.3-.14a1,1,0,0,1,.72.92c0,.56-.08,1.45-.28,1.5-4.94,1.25-4.66,2.41-4.63,7.2l-.18,45.08q0,16-9.79,25t-26.32,9a45.55,45.55,0,0,1-19.82-4c-5.66-2.69-11.62-6.17-13.16-11.49-1.64-5.63-4.67-18.05-4.67-24.74V395.68a10.28,10.28,0,0,0-1-5.16c-.61-1.3.18-3.13-1.6-3.65s-1.17-.24-2.4-.54c-.2-.05-2.11-.2-2.11-.76s.31-1.13.48-1.11l1.11.07q6.42.29,10.41.28c2.85,0,3.35,0,7.64-.15l2-.13c.31,0,1.18.35,1.18.91s0,1.12-.33,1.17c-1.46.28-1,.39-2.79.95s-3.09,1-3.7,2.31.07,6,.07,8.81l.3,29.65a84,84,0,0,0,1.39,9.87c2.73,11.84-1.29,16.54,5.05,21.72a41.63,41.63,0,0,0,25.34,9.16c9.19,0,15.07-7.12,20-12.78,2.45-2.85,6-3.58,7-11.38.17-1.32.5-11.49.5-12.83L292,401.8C291.73,388.08,291.73,388.08,284.38,386.07Z"
                transform="translate(-39.22 -368.74)" />
              <path class="cls-1"
                d="M324.8,389.89c-3.53,2.21-4.33,1.88-5.66,3.77a.4.4,0,0,0-.09.2c-.1.64-.84,4.06-1.31,4.15a2.05,2.05,0,0,1-.6,0,1.33,1.33,0,0,1-1.07-1.42c.13-2.31,0-.13.16-2.69.36-5.49.65-6.16.65-8.9,0-.47.12-.81.63-.81a3.47,3.47,0,0,1,.94.08c4.16.67,2.59.42,7.7.42q12,.42,28.48.42,8.36,0,17.71-.28l9.63-.14a34.29,34.29,0,0,0,7.58-.71,26.91,26.91,0,0,1,3-.43,3,3,0,0,1,1.09-.08c.47,0,.4.34.4.71-.28,2.74-.29,3.86-.57,9.43s-.11-1.49-.11,2c0,.19-.3,3.64-.78,3.88s-1.76.53-2-.83a11.87,11.87,0,0,0-.69-2.34c-1.18-2.68.15-3-2.32-5.65-2.75-3-8-3.44-14.33-3.44-4.25,0-5.84,1.21-7.63,1.58s-4.46.17-5.12,1.39-1,3.31-1,6.24v58.66a15.62,15.62,0,0,0,1.65,6.76c.66,1.33.74,5.6,4.12,7.4a16.61,16.61,0,0,0,6.69,2.23c.28,0,.89.32.89.89s-.66.85-.94.85c-3.12,0-4.28,0-6.17-.14L354.63,473l-10.63.14a8,8,0,0,1-1.54,0c-.23,0-.39-.49-.25-.86.24-.64,1.53-.85,1.79-1,0,0,.14,0,1.13-.36a6.59,6.59,0,0,0,3.9-2.77c3.82-6.38,2.5-31.26,2.38-34.59l.25-12.93c0-.52,0-1,0-1.53-.23-5-.47-25.52-1.08-26.62s-1.93-3-5.51-3.89c-1.77-.45-4.41-.56-8.66-.56C330.44,388,328.32,387.69,324.8,389.89Z"
                transform="translate(-39.22 -368.74)" />
              <path class="cls-1"
                d="M518.11,410.53a24.67,24.67,0,0,0,6.46,6.73q3.81,2.72,10.48,6.73,7.35,4.45,11.31,7.36a27.14,27.14,0,0,1,6.8,7.42A19.83,19.83,0,0,1,556,449.53a22.16,22.16,0,0,1-13.11,20.61,35.29,35.29,0,0,1-15.48,3.12,40.21,40.21,0,0,1-19.57-4.85,2,2,0,0,1-.9-1,8.13,8.13,0,0,1-.35-1.66l-.62-6.46a4.79,4.79,0,0,1,.08-2.24.33.33,0,0,1,.49-.17,13.29,13.29,0,0,0,1.84,1c1.69.82,2.41,2,6.2,5.9,4.19,4.35,5.68,4.72,12.35,4.72,4.62,0,12.19.09,15.38-2.46s4.81-5.46,4.81-11c0-4.16.55-6.59-1.3-9.64s-2.72-6.24-5.36-8.23-9.07-4.84-13.6-7.53-6.45-5.89-9-7.84-6.18-3.49-7.93-6.45A20,20,0,0,1,507.29,405,19.21,19.21,0,0,1,511,393.12a22.24,22.24,0,0,1,9.57-7.36c3.93-1.62,8.33-1.31,12.77-1.31,5.46,0,11.93,0,17.3,2.2.58.35.81,1.26.81,2.37l0,.88c0,.37,0,1.89,0,2.35s.13,2.81,0,4.07c0,.46-.3,2.28-.76,2.32s-2-1.87-2.12-2.19a29.89,29.89,0,0,0-1.33-2.76c-1.55-2-1.13-2.33-3.81-2.71-6.28-.9-6.89-3.35-13-3.35-5.19,0-9.17,1.38-11.72,4.38s-5.41,4.76-5.41,9.2C513.26,404.82,516.36,407.85,518.11,410.53Z"
                transform="translate(-39.22 -368.74)" />
              <path class="cls-1"
                d="M474.45,386c-.28-.09-.43-.28-.43-.84s.14-.84.43-.84l1.76.14q5.12.29,8.1.28a23.92,23.92,0,0,0,3.48-.09l2.14-.14a1,1,0,0,1,.66.92,3.23,3.23,0,0,1-.25,1.5c-4.8,3.4-4.49,7.93-4.47,12.73v39.59q0,16-9.09,25t-24.44,9a39.85,39.85,0,0,1-18.4-4,29.22,29.22,0,0,1-12.23-11.5c-2.89-5-2.63-22.2-2.63-28.89l-1.7-33.22a10.87,10.87,0,0,0-.92-5.16c-.57-1.3-1.61-3.18-3.27-3.7a9.7,9.7,0,0,0-1.52-.42c-.18-.05-.05-.63-.05-1.18a.66.66,0,0,1,.65-.7h0q6,.29,9.66.28c2.65,0,6-.09,9.94-.28l1.09-.14c.29,0,.45.55.45,1.11s-.14.78-.42.84a8.21,8.21,0,0,0-2.11.56c-1.71.56-4.11,1.53-4.68,2.88s1.2,2.19-.25,7.89a8.38,8.38,0,0,0-.24,2.23l.82,32.19a34.85,34.85,0,0,0,.72,6.19c2.52,11.82,2.26,16.77,7,22.17,5.07,5.81,19.67,4.87,28.77,4.87,8.52,0,10.3-4.66,15-9.91s3.64-7,3.64-16.33l.08-35.29C481.36,389.65,479.18,387.56,474.45,386Z"
                transform="translate(-39.22 -368.74)" />
              <path class="cls-1"
                d="M151.42,473.09l-18.38.07c-.67,0-1.74,0-1.74,0-.19,0-.28-.27-.28-.83s.1-.8.28-.83a16.57,16.57,0,0,0,2.43-.54,5,5,0,0,0,3.41-2.71c.52-1.17-.81-13.64-1.15-18.59a21.64,21.64,0,0,1,0-2.79L138,413c0-2.77-.3-14.81-.54-16.2-.34-2.06,1.2-7-.16-8-.91-.68-3-1-4.58-1.45a1.51,1.51,0,0,1-1-.68c-.29-.48-.35-2.14.27-2.27l.85,0c3.89.18,7.23,0,9.64,0,2,0,4.3.09,6.06,0s3.45.09,4.66,0c3.42-.27,5.93,0,8.7,0,7.31,0,12.89,3.39,16.87,6.72a16.49,16.49,0,0,1,6,13.32A22.47,22.47,0,0,1,180.43,418,34.51,34.51,0,0,1,168,428.25c7.77,11.2,11.47,12.52,16.79,18.85s6.46,11,12.89,16.54c3.77,3.22,10.42,4.19,12.94,6.82a2.39,2.39,0,0,1,.46,2.25c-.46.72-3.86.53-4.05.53h-.45a28.36,28.36,0,0,1-21.48-10.19h0c-6.2-7.45-6.57-6.36-15.24-19.25-.5-.73-11.87-13.06-12.75-13a26,26,0,0,1-3.84.16q-.83,0-6.24-.42l-1.27,28.8a27,27,0,0,0,2.1,8.95c.71,1.27.53,1.39,2.16,2.21a4.49,4.49,0,0,0,1.51.61c.27.07,1,.43,1,1s-.84,1-1.12,1m3.83-45.31q10.81,0,15.47-4.72c3.1-3.15,5.78-6,6.83-12.49,1.71-10.66-5.16-14.62-7.52-18.43-2.91-4.72-7.29-3.92-13.4-3.92q-5.4,0-7.49,1.95c-1.27,1.18-4.66,3.61-3.72,8.22a21.36,21.36,0,0,1,.45,3.18l1,21.39A1.86,1.86,0,0,0,148,424.6C150.09,425.5,152.57,427.78,155.25,427.78Z"
                transform="translate(-39.22 -368.74)" />
            </svg>
          </a>
          <a class="block px-4 py-1 md:p-2 lg:px-4 text-beige" routerLink="/reservation"
            title="Link">{{'NAV.RESERVATION' | translate}}</a>
          <a class="block px-4 py-1 md:p-2 lg:px-4 text-beige" routerLink="/cartes" title="Active Link">{{'NAV.MENU' |
            translate}}</a>
          <a class="block px-4 py-1 md:p-2 lg:px-4 text-beige" routerLink="/contact" title="Link">{{'NAV.CONTACT' |
            translate}}</a>
        </div>
        <a class="block md:hidden" routerLink="/" rel="home">
          <img class="w-auto h-16" src="../assets/img/logo_baseline_brutus_beige@2x.png" alt="Brutus" />
        </a>
        <!-- END CENTER -->
        <a class="md:right-24 md:top-6 md:absolute px-4  text-beige cursor-pointer" *ngIf="currentLang === 'fr'"
          (click)="useLanguage('en')">EN</a>
        <a class="md:right-24 md:top-6 md:absolute px-4  text-beige cursor-pointer" *ngIf="currentLang === 'en'"
          (click)="useLanguage('fr')">FR</a>

      </div>
    </nav>
  </header>
  <div class="container h-full mx-auto px-6 md:px-12 relative z-10 flex items-center py-32 xl:py-40">
    <div class="mx-auto text-center text-white">
      <h1 class="text-beige uppercase text-4xl mb-12">{{'APP.H1' | translate}}</h1>

      <a routerLink="reservation"
        class="bg-beige font-thin rounded-lg font-bold text-dark-grey text-center uppercase px-5 py-4 transition duration-300 ease-in-out">
        {{'APP.BOOK' | translate}}
      </a>
      <div class="text-xl mt-12 text-beige">
        <div>5 rue du Palais de l’Ombrière
        </div>
        <div>33000 Bordeaux
        </div>
        <div>+ 33 6 65 24 30 27</div>
      </div>
    </div>
  </div>
</div>

<main>
  <router-outlet></router-outlet>
  <section class="container mx-auto py-16">
    <!-- <h2 class="text-2xl text-blue-duck uppercase text-center">- Suivez-nous sur Instagram -</h2> -->
    <p class="mt-4 mb-2 text-blue-duck text-center font-bold">@brutusrestaurant</p>
    <div class="elfsight-app-4468e01e-c2b2-4776-8750-eba9ca3e032b"></div>
  </section>
</main>
<footer class="bg-blue-duck p-20 flex flex-wrap overflow-hidden">
  <div class="w-1/2 overflow-hidden md:w-1/3">
    <p class="text-beige"><span class="font-bold">{{'APP.OPENING_HOURS' | translate}}</span><br>
      <span
        [innerHTML]="'APP.OPEN_FROM' | translate : {sat: '12h00 - 14h00 / 18h30-23h00', tue_to_sat: '18h30 - 23h00'}"></span><br>
    <p>

    <p class="mt-4 text-beige"><span class="font-bold">{{'FOOTER.NAV.RESERVATION' | translate}}</span><br>
    <p class="text-beige">{{'APP.CONTACT_US_AT' | translate}} + 33 6 65 24 30 27 <br>{{'APP.OR' | translate}}
      reservation@brutus-restaurant.fr</p>
    <p class="mt-8 text-beige"><span class="font-bold">{{'APP.ADDRESS' | translate}}</span><br>
      5 rue du Palais de l’Ombrière<br>
      33000 Bordeaux, France </p>
  </div>
  <div class="w-1/2 overflow-hidden hidden md:w-1/3 sm:flex justify-end md:items-center md:justify-center">
    <img src="../assets/img/Logo Stylise Contour Beige.png" alt="">
  </div>
  <nav class="w-full overflow-hidden md:w-1/3 mt-16 md:mt-0">
    <ul class="sm:text-center md:text-right text-beige">
      <li class="mx-2 md:m-0 block sm:inline md:block"><a routerLink="/reservation"
          class="underline">{{'FOOTER.NAV.RESERVATION' | translate}}</a></li>
      <li class="md:mt-2 mx-2 block sm:inline md:block"><a routerLink="/contact"
          class="underline">{{'FOOTER.NAV.CONTACT' | translate}}</a></li>
      <li class="md:mt-2 mx-2 block sm:inline md:block"><a routerLink="/cartes" class="underline">{{'FOOTER.NAV.MENU' |
          translate}}</a></li>
      <li class="md:mt-2 mx-2 block sm:inline md:block"><a routerLink="/concept"
          class="underline">{{'FOOTER.NAV.CONCEPT' | translate}}</a></li>
      <li class="md:mt-2 mx-2 block sm:inline md:block"><a routerLink="/la-balade" class="underline">{{'FOOTER.NAV.WALK'
          | translate}}</a></li>
      <li class="md:mt-2 mx-2 block sm:inline md:block"><a routerLink="/lieu" class="underline">{{'FOOTER.NAV.LOCATION'
          | translate}}</a></li>
      <li class="md:mt-2 mx-2 block sm:inline md:block"><a routerLink="/legal-notice"
          class="underline">{{'FOOTER.NAV.LEGAL_NOTICE' | translate}}</a>
      </li>
    </ul>
  </nav>
</footer>


<div class="fixed h-screen inset-0 z-20 w-full bg-transparent flex md:hidden" *ngIf="mobileMenuToggle">
  <div class="w-8/12 sm:w-1/2 py-20 pl-20 flex flex-col text-beige bg-blue-duck bg-opacity-90 h-full">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 cursor-pointer" (click)="mobileMenuToggle = false"
        fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </div>
    <a routerLink="" class="mt-4 text-xl uppercase text-beige">{{'FOOTER.NAV.HOME' | translate}}</a>
    <a routerLink="/reservation" class="mt-4 text-xl uppercase text-beige">{{'FOOTER.NAV.RESERVATION' | translate}}</a>
    <a routerLink="/cartes" class="mt-4 text-xl uppercase text-beige">{{'FOOTER.NAV.MENU' | translate}}</a>
    <a routerLink="/lieu" class="mt-4 text-xl uppercase text-beige">{{'FOOTER.NAV.LOCATION' | translate}}</a>
    <a routerLink="/concept" class="mt-4 text-xl uppercase text-beige">{{'FOOTER.NAV.CONCEPT' | translate}}</a>
    <a routerLink="/la-balade" class="mt-4 text-xl uppercase text-beige">{{'FOOTER.NAV.WALK' | translate}}</a>
    <a routerLink="/contact" class="mt-4 text-xl uppercase text-beige">{{'FOOTER.NAV.CONTACT' | translate}}</a>
  </div>
  <div class="w-4/12 sm:w-1/2 h-full" (click)="mobileMenuToggle = false"></div>
</div>

<div class="my-overlay" *ngIf="showOverlay">
  <img class="h-48 w-48 rounded-full animate-pulse" src="../assets/img/Transition 500 x 500.png" alt="">
</div>