<section class="container px-8 md:px-0 mx-auto pt-24">
    <h2 class="text-2xl text-blue-duck uppercase text-center">- {{'RESERVATION.TITLE' | translate}} -</h2>
    <p class="my-20 text-lg text-center">{{'RESERVATION.TEXT' | translate}}</p>
</section>
<section>
    <iframe src='https://bookings.zenchef.com/results?rid=355827&fullscreen=1' frameborder='0' scrolling='yes'
        width='100%' height='400' class="mx-auto my-8" style='display: block; max-width: 600px; height:400;'></iframe>
</section>
<section class="flex flex-wrap overflow-hidden md:h-screen">
    <div class="bg-cover bg-black relative h-screen md:h-auto w-full overflow-hidden">
        <!-- Column Content -->
        <img src="../../../assets/img/_III9964.jpg" class="absolute h-full w-full object-cover" />
        <div class="inset-0 bg-black opacity-50 absolute">
        </div>
        <div
            class="container h-full mx-auto px-6 md:px-12 relative z-10 flex-col flex items-center justify-between py-32 xl:py-40">
            <div class="uppercase text-beige text-2xl">- {{'RESERVATION.OPENING_HOURS' | translate}} -</div>

            <div>
                <div class="uppercase text-beige text-3xl text-center">{{'APP.DAYS.TUESDAY' | translate}} -
                    {{'APP.DAYS.WEDNESDAY' | translate}} - {{'APP.DAYS.THURSDAY' | translate}} - <br>
                    {{'APP.DAYS.FRIDAY' | translate}}
                </div>
                <div class="mt-6 uppercase text-beige text-2xl text-center">{{'APP.FROM' | translate}} 18h30 {{'APP.TO'
                    | translate}} 23h00</div>
            </div>

            <div>
                <div class="uppercase text-beige text-3xl text-center">{{'APP.DAYS.SATURDAY' | translate}}
                </div>
                <div class="mt-6 uppercase text-beige text-2xl text-center">{{'APP.FROM' | translate}} 12h00 {{'APP.TO'
                    | translate}} 14H00 / 18h30 {{'APP.TO'
                    | translate}} 23h00</div>
            </div>

            <a routerLink="/contact"
                class="bg-transparent border-2 border-beige font-thin rounded-lg font-bold text-beige text-center uppercase px-5 py-4 transition duration-300 ease-in-out">{{'RESERVATION.CONTACT_US'
                | translate}}</a>
        </div>
    </div>
</section>