<section class="container px-8 md:px-0 mx-auto py-24">
    <h2 class="text-2xl text-blue-duck uppercase text-center" [innerHtml]="'BOARD.TITLE1' | translate"></h2>
    <p class="my-20 text-lg text-center" [innerHtml]="'BOARD.TEXT1' | translate"></p>
    <div class="text-center">
        <a routerLink="/la-balade"
            class="bg-white border-2 border-camel font-thin rounded-lg font-bold text-camel text-center uppercase px-5 py-4 transition duration-300 ease-in-out">La
            Balade Brutus</a>
    </div>
</section>
<section class="flex flex-wrap overflow-hidden md:h-screen">

    <a class="bg-cover bg-black relative h-screen md:h-auto w-full overflow-hidden md:w-1/2 lg:w-1/2 xl:w-1/2"
        href="../../../assets/menus/{{menuString}}.pdf" target="blank">
        <!-- Column Content -->
        <img src="../../../assets/img/_III0320.jpg" class="absolute h-full w-full object-cover" />
        <div class="inset-0 bg-black opacity-50 absolute">
        </div>
        <div
            class="container h-full mx-auto px-6 md:px-12 relative z-10 flex items-start justify-center py-32 xl:py-40">
            <div class="uppercase text-beige text-2xl">- Menu -</div>
        </div>
    </a>

    <a class="bg-cover bg-black relative h-screen md:h-auto w-full overflow-hidden md:w-1/2 lg:w-1/2 xl:w-1/2"
        href="../../../assets/menus/CARTE VINS BRUTUS.pdf" target="blank">
        <!-- Column Content -->
        <img src="../../../assets/img/_III9964.jpg" class="absolute h-full w-full object-cover" />
        <div class="inset-0 bg-black opacity-50 absolute">
        </div>
        <div
            class="container h-full mx-auto px-6 md:px-12 relative z-10 flex items-start justify-center py-32 xl:py-40">
            <div class="uppercase text-beige text-2xl" [innerHtml]="'BOARD.TITLE2' | translate"></div>
        </div>
    </a>

</section>
<section class="container px-8 md:px-0 mx-auto py-24">
    <h2 class="text-2xl text-blue-duck uppercase text-center" [innerHtml]="'BOARD.TITLE3' | translate"></h2>
    <p class="my-20 text-lg text-center" [innerHtml]="'BOARD.TEXT3' | translate"></p>
    <div class="text-center">
        <a routerLink="/la-balade"
            class="bg-white border-2 border-camel font-thin rounded-lg font-bold text-camel text-center uppercase px-5 py-4 transition duration-300 ease-in-out">{{'APP.BUTTON.BOOK'
            | translate}}</a>
    </div>
</section>