<section class="container px-8 md:px-0 mx-auto py-24">
    <h2 class="text-2xl text-blue-duck uppercase text-center">- CARTE DES VINS -</h2>
    <h3 class="my-8 font-semibold text-camel text-lg text-center">Champagnes</h3>
    <div class="flex flex-col items-center justify-center">
        <div>François Girard Brut</div>
        <div>François Girard Rosé Grand Cru</div>
        <div>Deutz Brut</div>
        <div>François Girard Blanc de Blancs Grand Cru Millésimé 2015</div>
        <div>François Girard Prestige Initiale Grand Cru Millésimé 2008</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Rosés</h3>
    <div class="flex flex-col items-center justify-center">
        <div>Bordeaux Supérieur, Château Nicot, 2019</div>
        <div>Costières de Nîmes, Château de Valcombe Pastel, 2019</div>
        <div>Côtes de Provence, Château Saint-Martin Grande Réserve Grand Cru Classé, 2019</div>
        <div>François Girard Blanc de Blancs Grand Cru Millésimé 2015</div>
        <div>François Girard Prestige Initiale Grand Cru Millésimé 2008</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Blancs</h3>
    <div class="flex flex-col items-center justify-center">
        <div>Cuvée Brutus Amour de Vin</div>
        <div>Entre-Deux-Mers, Château Vermont Prestige, 2019/2020</div>
        <div>Tokaji, Château Hellha, Saveurs d'Automne, Hongrie, 2018</div>
        <div>DO Rueda, Protos Verdejo, 2019</div>
        <div>Anjou, Domaine du Petit Clocher Chenin Blanc, 2019</div>
        <div>Graves, Château Pont de Brion, 2019</div>
        <div>Bodega Monteviejo - Mendoza, Festivo Torrontés, Argentine, 2019</div>
        <div>Bourgogne, Justin Girardin Chardonnay, 2018</div>
        <div>DO Rias Baixas, Terra de Asorei Albarino, 2018</div>
        <div>Petit Chablis, Pommier Bio, 2018</div>
        <div>Sancerre, Henry Natter, 2018</div>
        <div>Alsace, Domaine Mittnacht, Les Terres Blanches, 2016</div>
        <div>Pessac-Léognan, Château Carbonnieux, 2018</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Blancs moelleux</h3>
    <div class="flex flex-col items-center justify-center">
        <div>Sauternes, Château Landion, 2016</div>
        <div>Tokaji, Château Hellha, 5 Puttonyos Aszu, 2010 (0,50L)</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Rouges</h3>
    <div class="flex flex-col items-center justify-center">
        <div>Cuvée Brutus Amour de Vin</div>
        <div>Bordeaux, Château Portillon, 2015</div>
        <div>Costières de Nîmes, Château Valcombe, 2018</div>
        <div>DO Valencia, Bilogia, 2019</div>
        <div>Bordeaux Supérieur, Bouteille Bacchus, 100% Petit Verdot, 2016</div>
        <div>Bourgueil, Clos de l’Abbaye Bio, 2018</div>
        <div>Médoc, Château Bois de Roc Réserve, 2016</div>
        <div>Bodega Monteviejo - Mendoza, Festivo Malbec, Argentine, 2018</div>
        <div>Corbières, Vieux Moulin Bio, 2019</div>
        <div>Brouilly, Château de Corcelles, 2018</div>
        <div>DOCG Chianti, Chianti Classico Carpineto, 2016</div>
        <div>Côtes du Rhône, Guigal Réserve de Lutèce, 2016</div>
        <div>Vacqueyras, Domaine de la Ganse, 2018</div>
        <div>Narbonna Blend 002, Bodega Narbonna, Uruguay</div>
        <div>Gigondas, Domaine du Pesquier, 2017</div>
        <div>DOC Rioja, Muga Reserva, 2016</div>
        <div>Saint-Estèphe, Château La Peyre, 2015</div>
        <div>Bodega Monteviejo - Mendoza, Petite Fleur Blend, Argentine, 2017</div>
        <div>DO Ribera del Duero, Protos Crianza, 2016</div>
        <div>Saint-Estèphe, Frank Phélan, 2016</div>
        <div>Saint-Emilion Grand Cru, La Parcelle du Rocher, 2016</div>
        <div>Margaux, Château Haut-Breton de Larigaudière, 2015</div>
        <div>Châteauneuf-du-Pape, Château La Nerthe Bio, 2015 </div>
        <div>Bodega Monteviejo - Mendoza, Lindaflor Blend, Argentine, 2012</div>
        <div>Saint-Estèphe, Château Phélan Ségur, 2011</div>
        <div>Moulis-en-Médoc, Château Chasse-Spleen, 2014</div>
        <div>Margaux, Château Haut-Breton de Larigaudière, cuvée Le Créateur, 2010/2009</div>
        <div>Saint-Julien, Château Gruaud Larose, 1998</div>
        <div>Pomerol, Château La Conseillante, 2011</div>
        <div>Pauillac, Château Lynch-Bages, 2012</div>
        <div>Clos de Vougeot, Domaine René Bouvier, 2012</div>
        <div>Pomerol, Château la Conseillante, 1996</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Demi-bouteilles</h3>
    <div class="flex flex-col items-center justify-center">
        <div>DOC Bardolino, Bardolino Rosso, 2017</div>
        <div>Graves, Château Tour Bicheau, 2016</div>
        <div>Haut-Médoc, Château Victoria, 2017</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Magnums</h3>
    <div class="flex flex-col items-center justify-center">
        <div>Graves, Château Tour Bicheau, 2017</div>
        <div>DOC Rioja, Muga Reserva, 2015</div>
        <div>Saint-Émilion Grand Cru, Château Pipeau, 2016</div>
    </div>

    <h2 class="mt-8 mb-4 text-2xl text-blue-duck uppercase text-center">- Vins au verre -</h2>
    <h3 class="mb-8 font-semibold text-camel text-lg text-center">Rouges</h3>
    <div class="flex flex-col items-center justify-center">
        <div>Cuvée Brutus Amour de Vin</div>
        <div>DO Valencia, Bilogia, 2019</div>
        <div>Bordeaux Supérieur, Bouteille Bacchus, 100% Petit Verdot, 2016</div>
        <div>DOCG Chianti, Chianti Classico Carpineto, 2016</div>
        <div>Sélection du sommelier 3 verres</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Blancs</h3>
    <div class="flex flex-col items-center justify-center">
        <div>Cuvée Brutus Amour de Vin</div>
        <div>Tokaji, Château Hellha, Saveurs d'Automne, Hongrie, 2018</div>
        <div>DO Rueda, Protos Verdejo, 2019</div>
        <div>Bodega Monteviejo - Mendoza, Festivo Torrontés, Argentine, 2019</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Blanc moelleux</h3>
    <div class="flex flex-col items-center justify-center">
        <div>Étoile d’Automne, Sainte-Croix du Mont, 2015dss</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Rosé</h3>
    <div class="flex flex-col items-center justify-center">
        <div>Costières de Nîmes, Château de Valcombe Pastel, 2019</div>
    </div>

    <h3 class="my-8 font-semibold text-camel text-lg text-center">Champagne</h3>
    <div class="flex flex-col items-center justify-center">
        <div>François Girard Brut</div>
    </div>

    <hr class="mt-8">
</section>