<div class="px-24 py-8 text-center">
    <h1 class="text-2xl">
        Mentions Légales
    </h1>
    <p>
        &nbsp;
    </p>
    <p>
        Merci de lire avec attention les
        diff&eacute;rentes modalit&eacute;s d&rsquo;utilisation du pr&eacute;sent site avant d&rsquo;y parcourir ses
        pages. En vous connectant sur ce site, vous acceptez sans r&eacute;serve les pr&eacute;sentes
        modalit&eacute;s.
        Aussi, conform&eacute;ment &agrave; l&rsquo;article n&deg;6 de la Loi n&deg;2004-575 du 21 Juin 2004 pour la
        confiance dans l&rsquo;&eacute;conomie num&eacute;rique, les responsables du pr&eacute;sent site internet
        <u>https://brutus-restaurant.fr/</u> sont :
    </p>
    <p>
        &nbsp;
    </p>
    <p>Développement et éditeur du site :</p>
    <p>
        Mattis Betourne<br>&nbsp;Num&eacute;ro
        de
        SIRET : 85071951900017<br>&nbsp;Responsable &eacute;ditorial : Pauline Caillot<br>&nbsp;5 Rue du Palais de
        l&rsquo;Ombri&egrave;re, 33000 Bordeaux<br>&nbsp;T&eacute;l&eacute;phone : 06 38 69 55 49<br>&nbsp;Mail :
        mattis.betourne@gmail.com<br>&nbsp;Site Web :&nbsp;<a href="https://www.brutus-restaurant.fr">
            https://www.brutus-restaurant.fr<br>&nbsp;</a>
    </p>
    <p>

        Hébergement :
    </p>
    <p>
        Hébergeur : IONOS<br>
        7 Place de la Gare, 57200 SARREGUEMINES<br>&nbsp;Site Web :&nbsp;<a href="http://ionos.fr/">ionos.fr</a>
    </p>
    <p>

        Conditions
        d&rsquo;utilisation :
    </p>
    <p>
        Ce site (www.brutus-restaurant.fr) est
        propos&eacute; en diff&eacute;rents langages web (HTML, HTML5, Javascript, CSS, etc.) pour un meilleur
        confort
        d&rsquo;utilisation et un graphisme plus agr&eacute;able, nous vous recommandons de recourir &agrave; des
        navigateurs modernes comme Internet explorer, Safari, Firefox, Google Chrome, etc.<br>&nbsp;
    </p>
    <p>
        Mattis Betourne met en &oelig;uvre tous
        les
        moyens dont elle dispose, pour assurer une information fiable et une mise &agrave; jour fiable de ses sites
        internet. Toutefois, des erreurs ou omissions peuvent survenir. L&rsquo;internaute devra donc
        s&rsquo;assurer de
        l&rsquo;exactitude des informations aupr&egrave;s de&nbsp;<a href="mailto:contact@brutus-restaurant.fr">
            contact@brutus-restaurant.fr</a>
        &nbsp;et signaler toutes modifications du
        site qu&rsquo;il jugerait utile. Mattis Betourne n&rsquo;est en aucun cas responsable de l&rsquo;utilisation
        faite de ces informations, et de tout pr&eacute;judice direct ou indirect pouvant en d&eacute;couler.
    </p>
    <p>
        &nbsp;
    </p>
    <p>

        Cookies
        &nbsp;: Le site <u>
            (</u><a href="http://www.brutus-restaurant.fr">
            www.brutus-restaurant.fr</a><u>
            )</u>
        &nbsp;
        peut &ecirc;tre amen&eacute; &agrave;
        vous
        demander l&rsquo;acceptation des cookies pour des besoins de statistiques et d&rsquo;affichage. Un cookie
        est
        une information d&eacute;pos&eacute;e sur votre disque dur par le serveur du site que vous visitez. Il
        contient
        plusieurs donn&eacute;es qui sont stock&eacute;es sur votre ordinateur dans un simple fichier texte auquel
        un
        serveur acc&egrave;de pour lire et enregistrer des informations. Certaines parties de ce site ne peuvent
        &ecirc;tre fonctionnelles sans l&rsquo;acceptation de cookies.
    </p>
    <p>

        &nbsp;
    </p>
    <p>

        Liens
        hypertextes :
        &nbsp;Les sites internet ne peuvent
        offrir
        des liens vers d&rsquo;autres sites internet ou d&rsquo;autres ressources disponibles sur Internet. Mattis
        Betourne ne dispose d&rsquo;aucun moyen pour contr&ocirc;ler les sites en connexion avec ses sites internet.
        Il
        ne r&eacute;pond pas de la disponibilit&eacute; de tels sites et sources externes, ni ne la garantit. Il ne
        peut
        &ecirc;tre tenue pour responsable de tout dommage, de quelque nature que ce soit, r&eacute;sultant du
        contenu de
        ces sites ou sources externes, et notamment des informations, produits ou services qu&rsquo;ils proposent,
        ou de
        tout usage qui peut &ecirc;tre fait de ces &eacute;l&eacute;ments. Les risques li&eacute;s &agrave; cette
        utilisation incombent pleinement l&rsquo;internaute qui doit se conformer &agrave; leurs conditions
        d&rsquo;utilisation.
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        Les utilisateurs et les visiteurs des
        sites
        internet ne peuvent mettre en place un hyperlien en direction de ce site sans l&rsquo;autorisation expresse
        et
        pr&eacute;alable de Mattis Betourne.
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        Dans l&rsquo;hypoth&egrave;se o&ugrave;
        un
        utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d&rsquo;un des sites internet
        de
        Mattis Betourne, il lui appartiendra d&rsquo;adresser un email accessible sur le site afin de formuler sa
        demande de mise en place d&rsquo;un hyperlien. Mattis Betourne se r&eacute;serve le droit d&rsquo;accepter
        ou de
        refuser un hyperlien sans avoir &agrave; en justifier sa d&eacute;cision.
    </p>
    <p>
        &nbsp;
    </p>
    <p>

        Services
        fournis :
    </p>
    <p>
        L&rsquo;ensemble des activit&eacute;s
        de la
        soci&eacute;t&eacute; ainsi que ses informations sont pr&eacute;sent&eacute;s sur notre site <u>
            https://brutus-restaurant.fr/</u>
    </p>
    <p>
        Mattis Betourne s&rsquo;efforce de
        fournir
        sur le site&nbsp;<a href="https://www.brutus-restaurant.fr">
            https://www.brutus-restaurant.fr</a>
        / des informations aussi pr&eacute;cises
        que
        possible. Les renseignements figurant sur le site&nbsp;<a href="https://www.brutus-restaurant.fr">
            https://www.brutus-restaurant.fr</a>
        &nbsp;ne sont pas exhaustifs et les
        photos
        non contractuelles. Ils sont donn&eacute;s sous r&eacute;serve de modifications ayant &eacute;t&eacute;
        apport&eacute;es depuis leur mise en ligne. Par ailleurs, toutes les informations indiqu&eacute;es sur le
        site
        https://www.brutus-restaurant.fr/
        &nbsp;sont donn&eacute;es &agrave;
        titre indicatif, et sont susceptibles de changer ou d&rsquo;&eacute;voluer sans pr&eacute;avis.
    </p>
    <p>
        &nbsp;
    </p>
    <p>

        Limitations
        contractuelles sur les donn&eacute;es :
    </p>
    <p>
        Les informations contenues sur ce site
        sont
        aussi pr&eacute;cises que possible et le site remis &agrave; jour &agrave; diff&eacute;rentes
        p&eacute;riodes de
        l&rsquo;ann&eacute;e. Toutefois, le site peut contenir des inexactitudes ou des omissions. Si vous constatez
        une
        lacune, erreur ou ce qui parait &ecirc;tre un dysfonctionnement, merci de bien vouloir le signaler par mail,
        &agrave; l&rsquo;adresse&nbsp;<a href="mailto:contact@brutus-restaurant.fr">
            contact@brutus-restaurant.fr</a>
        , en d&eacute;crivant le probl&egrave;me
        de
        la mani&egrave;re la plus pr&eacute;cise possible (page posant un probl&egrave;me, type d&rsquo;ordinateur
        et de
        navigateur utilis&eacute;, &hellip;).
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        Tout contenu
        t&eacute;l&eacute;charg&eacute; se fait aux risques et p&eacute;rils de l&rsquo;utilisateur et sous sa seule
        responsabilit&eacute;. En cons&eacute;quence, ne saurait &ecirc;tre tenu responsable d&rsquo;un quelconque
        dommage subi par l&rsquo;ordinateur de l&rsquo;utilisateur ou d&rsquo;une quelconque perte de donn&eacute;es
        cons&eacute;cutives au t&eacute;l&eacute;chargement.
        De
        plus, l&rsquo;utilisateur du site s&rsquo;engage &agrave; acc&eacute;der au site en utilisant un
        mat&eacute;riel r&eacute;cent, ne contenant pas de virus et avec un navigateur de derni&egrave;re
        g&eacute;n&eacute;ration mis-&agrave;-jour
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        Les liens hypertextes mis en place dans
        le
        cadre du pr&eacute;sent site internet en direction d&rsquo;autres ressources pr&eacute;sentes sur le
        r&eacute;seau Internet ne sauraient engager la responsabilit&eacute; de Mattis Betourne.
    </p>
    <p>

        &nbsp;
    </p>
    <p>

        Propri&eacute;t&eacute;
        intellectuelle :
    </p>
    <p>
        Tout le contenu du pr&eacute;sent sur
        le
        site&nbsp;https://brutus-restaurant.fr/ incluant, de fa&ccedil;on non limitative, les graphismes, images,
        textes, vid&eacute;os, animations, sons, logos, gifs et ic&ocirc;nes ainsi que leur mise en forme sont la
        propri&eacute;t&eacute; exclusive de la soci&eacute;t&eacute; &agrave; l&rsquo;exception des marques, logos
        ou
        contenus appartenant &agrave; d&rsquo;autres soci&eacute;t&eacute;s partenaires ou auteurs.
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        Toute reproduction, distribution,
        modification, adaptation, retransmission ou publication, m&ecirc;me partielle, de ces diff&eacute;rents
        &eacute;l&eacute;ments est strictement interdite sans l&rsquo;accord expr&egrave;s par &eacute;crit de
        Pauline
        Caillot. Cette repr&eacute;sentation ou reproduction, par quelque proc&eacute;d&eacute; que ce soit,
        constitue
        une contrefa&ccedil;on sanctionn&eacute;e par les articles L.335-2 et suivants du Code de la
        propri&eacute;t&eacute; intellectuelle. Le non-respect de cette interdiction constitue une
        contrefa&ccedil;on
        pouvant engager la responsabilit&eacute; civile et p&eacute;nale du contrefacteur. En outre, les
        propri&eacute;taires des contenus copi&eacute;s pourraient intenter une action en justice &agrave; votre
        encontre.
    </p>
    <p>

        &nbsp;
    </p>
    <p>

        Litiges
        :
    </p>
    <p>
        Les pr&eacute;sentes conditions du
        site&nbsp;<a href="https://brutus-restaurant.fr">
            https://brutus-restaurant.fr</a>
        &nbsp;sont r&eacute;gies par les lois
        fran&ccedil;aises et toute contestation ou litiges qui pourraient na&icirc;tre de
        l&rsquo;interpr&eacute;tation
        ou de l&rsquo;ex&eacute;cution de celles-ci seront de la comp&eacute;tence exclusive des tribunaux dont
        d&eacute;pend le si&egrave;ge social de la soci&eacute;t&eacute;. La langue de r&eacute;f&eacute;rence, pour
        le
        r&egrave;glement de contentieux &eacute;ventuels, est le fran&ccedil;ais.
    </p>
    <p>
        &nbsp;
    </p>
    <p>

        Donn&eacute;es
        personnelles :
    </p>
    <p>
        De mani&egrave;re
        g&eacute;n&eacute;rale,
        vous n&rsquo;&ecirc;tes pas tenu de nous communiquer vos donn&eacute;es personnelles lorsque vous visitez
        notre
        site Internet&nbsp;https://brutus-restaurant.fr/
    </p>
</div>