<section class="container px-8 md:px-0 mx-auto py-24">
    <h2 class="text-2xl text-blue-duck uppercase text-center">- {{'CONCEPT.TITLE1' | translate}} -</h2>
    <p class="my-20 text-lg text-center">{{'CONCEPT.TEXT1' | translate}}</p>
    <div class="text-center">
        <a routerLink="/cartes"
            class="bg-white border-2 border-camel font-thin rounded-lg font-bold text-camel text-center uppercase px-5 py-4 transition duration-300 ease-in-out">{{'CONCEPT.DISCOVER_MENU'
            | translate}}</a>
    </div>
</section>
<section class="flex flex-wrap overflow-hidden">

    <div class="order-1 grid-cols-2bg-cover w-full overflow-hidden md:w-1/2 lg:w-1/2 xl:w-1/2"
        style="height: 1000px;background-image: url('../../../assets/img/_III0363.jpg');">
        <!-- Column Content -->
    </div>

    <div
        class="py-12 md:py-0  order-2 flex flex-col items-center justify-center w-full overflow-hidden md:w-1/2 lg:w-1/2 xl:w-1/2">
        <h2 class="text-2xl text-blue-duck uppercase text-center" [innerHtml]="'CONCEPT.TITLE2' | translate"></h2>
        <p class="p-8 md:p-16 text-lg text-center">{{'CONCEPT.TEXT2' | translate}}</p>
        <div class="text-center">
            <a routerLink="/la-balade"
                class="bg-white border-2 border-camel font-thin rounded-lg font-bold text-camel text-center uppercase px-5 py-4 transition duration-300 ease-in-out">{{'CONCEPT.GUIDE'
                | translate}}</a>
        </div>
    </div>

    <div
        class="py-12 md:py-0 order-4 md:order-3 flex flex-col items-center justify-center w-full overflow-hidden md:w-1/2 lg:w-1/2 xl:w-1/2">
        <h2 class="text-2xl text-blue-duck uppercase text-center">- {{'CONCEPT.TITLE3' | translate}} -</h2>
        <p class="p-8 md:p-16 text-lg text-center">{{'CONCEPT.TEXT3' | translate}}</p>
    </div>

    <div class="order-3 md:order-4 bg-cover w-full overflow-hidden md:w-1/2 lg:w-1/2 xl:w-1/2"
        style="height: 1000px;background-image: url('../../../assets/img/_III9755-Modifier.jpg');">
        <!-- Column Content -->
    </div>

</section>
<section class="container px-8 md:px-0 mx-auto py-24">
    <h2 class="text-2xl text-blue-duck uppercase text-center">- {{'CONCEPT.TITLE4' | translate}} -</h2>
    <p class="my-20 text-lg text-center">{{'CONCEPT.TEXT4' | translate}}</p>
    <div class="text-center">
        <a routerLink="/la-balade"
            class="bg-white border-2 border-camel font-thin rounded-lg font-bold text-camel text-center uppercase px-5 py-4 transition duration-300 ease-in-out">{{'APP.BUTTON.BOOK'
            | translate}}</a>
    </div>
</section>